<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Popularity Table</title>
    <style>
      table {
        width: 50%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 18px;
        text-align: left;
      }
      th,
      td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <h1>City Popularity Table By {{name}}</h1>
    <table>
      <tr>
        <th>City</th>
        <th>Popularity</th>
      </tr>
      <tr>
        <td>New York</td>
        <td>{{day}}</td>
      </tr>
      <tr>
        <td>Los Angeles</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Chicago</td>
        <td>85</td>
      </tr>
      <tr>
        <td>Houston</td>
        <td>80</td>
      </tr>
      <tr>
        <td>Phoenix</td>
        <td>75</td>
      </tr>
      <tr>
        <td>Philadelphia</td>
        <td>70</td>
      </tr>
      <tr>
        <td>San Antonio</td>
        <td>65</td>
      </tr>
      <tr>
        <td>San Diego</td>
        <td>60</td>
      </tr>
      <tr>
        <td>Dallas</td>
        <td>55</td>
      </tr>
      <tr>
        <td>San Jose</td>
        <td>50</td>
      </tr>
    </table>
  </body>
</html>
